/* iconfont 图标字体样式 */
@font-face {
  font-family: 'iconfont';
  /* 这里使用一个简单的占位符，实际项目中应该替换为真实的字体文件 */
  src: url('data:font/woff2;base64,') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 常用图标 */
.icon-add:before {
  content: "\e600";
}

.icon-list:before {
  content: "\e601";
}

.icon-chart:before {
  content: "\e602";
}

.icon-clock:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e604";
}

.icon-setting:before {
  content: "\e605";
}

.icon-star:before {
  content: "\e606";
}

.icon-edit:before {
  content: "\e607";
}

.icon-delete:before {
  content: "\e608";
}

.icon-search:before {
  content: "\e609";
}

.icon-check:before {
  content: "\e60a";
}

.icon-close:before {
  content: "\e60b";
}

.icon-arrow-right:before {
  content: "\e60c";
}

.icon-arrow-left:before {
  content: "\e60d";
}

.icon-arrow-up:before {
  content: "\e60e";
}

.icon-arrow-down:before {
  content: "\e60f";
}

.icon-home:before {
  content: "\e610";
}

.icon-category:before {
  content: "\e611";
}

.icon-tag:before {
  content: "\e612";
}

.icon-calendar:before {
  content: "\e613";
}

.icon-book:before {
  content: "\e614";
}